/* default styling */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.image:hover {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 0.3s;
}

@keyframes zoomIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
